<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <!-- 配置开发环境，可以配置多个，在具体用时再做切换 -->
  <environments default="test">
    <environment id="test">
      <!-- 事务管理类型：JDBC、MANAGED -->
      <transactionManager type="JDBC"></transactionManager>

      <!-- 数据源类型：POOLED、UNPOOLED、JNDI -->
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://arch-od-tracker01.beta1.fn:3306/test?characterEncoding=utf-8"/>
        <property name="username" value="hadoop"/>
        <property name="password" value="hadoop@123"/>
      </dataSource>
    </environment>
  </environments>

  <!-- 加载映射文件 mapper -->
  <mappers>
    <!-- 路径用 斜线（/） 分割，而不是用 点(.) -->
    <mapper resource="mybatis/mapper/UserMapper.xml"/>
  </mappers>
</configuration>