<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID"
         version="2.5">

    <display-name>Archetype Created Web Application</display-name>

    <!--
    <servlet>
        <display-name>HelloForm</display-name>
        <servlet-name>HelloForm</servlet-name>
        <servlet-class>org.demo.helloform.HelloForm</servlet-class>
    </servlet>

    <servlet>
        <display-name>ReadParams</display-name>
        <servlet-name>ReadParams</servlet-name>
        <servlet-class>org.demo.helloform.ReadParams</servlet-class>
    </servlet>

    <servlet>
        <display-name>CheckBox</display-name>
        <servlet-name>CheckBox</servlet-name>
        <servlet-class>org.demo.helloform.CheckBox</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloForm</servlet-name>
        <url-pattern>/HelloForm</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReadParams</servlet-name>
        <url-pattern>/ReadParams</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CheckBox</servlet-name>
        <url-pattern>/CheckBox</url-pattern>
    </servlet-mapping>
    -->
</web-app>
